body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .prueba {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
} */

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  font-style: italic;
  justify-content: center;
}

#pokemonsImgs {
  height: 150px;
}

#pokemons {
  background-color: #474747;
  transition: background-color, 0.7s;
  border-radius: 10%;
}

#pokemons:hover {
  background-color: #c0c0c0;
}

#pNavBar {
  background-color: #474747;
  font-size: x-large;
  display: grid;
}

#pLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style: none;
}

#pHeader {
  text-align: center;
}

#aboutBox {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutP {
  font-size: 5mm;
  width: 1250px;
}
